.menu-toggle {
  display: none;
}

.region-primary-menu .menu {
  margin: 0;
  padding: 0 15px;
  font-size: .929em;
}

.region-primary-menu .menu .menu-item {
  float: left;
  margin: 0 1px;
  padding: 0 1px;
  width: auto;
  height: auto;
  overflow: visible;
}

.region-primary-menu .menu .menu-item a {
  float: left;
  display: block;
  padding: .7em .8em;
  background: #ccc;
  background: rgba(255,255,255,.7);
  color: black;
  border-radius: 8px 8px 0px 0px;
  transition: background .5s;
}

.region-primary-menu .menu .menu-item a.is-active {
  background: white;
}

.region-primary-menu .menu .menu-item a:hover {
  background: white;
}

@media screen and (max-width: 700px) {
  .region-primary-menu .menu {
    padding: 0;
    text-align: center;
  }
  
  .region-primary-menu .menu .menu-item {
    float: none;
    margin: 0;
    padding: 0;
  }
  
  .region-primary-menu .menu .menu-item a {
    float: none;
    border-radius: 0;
  }

  .region-primary-menu .menu .menu-item a.is-active::before {
    content: "";
    background: url(../../../core/misc/icons/0074bd/chevron-right.svg) no-repeat;
    background-size: contain;
    width: 12px;
    height: 10px;
    display: inline-block;
  }
  
  .region-primary-menu .menu .menu-item:last-child {
    border-bottom: solid 1px #1d84c3;
  }
}

@media screen and (max-width: 460px) {
  /* --------------- Primary Menu ------------ */

   .region-primary-menu {
    clear: both;
  }

  [dir="rtl"] .region-primary-menu .menu {
    text-align: right;
    margin-left: 5px; /* This is required to win over specificity of [dir="rtl"] ul.menu */
    margin-right: 5px; /* This is required to win over specificity of [dir="rtl"] ul.menu */
  }

  .region-primary-menu .menu .menu-item a {
    border: none;
  }

  [dir="rtl"] .region-primary-menu .menu a {
    padding: 0.9em 10px 0.9em 0;
  }
  .region-primary-menu .menu a:hover,
  .region-primary-menu .menu a:focus {
    background: #f6f6f2;
    background: rgba(255, 255, 255, 0.95);
  }
  .region-primary-menu .menu a:active {
    background: #b3b3b3;
    background: rgba(255, 255, 255, 1);
  }
  .region-primary-menu .menu-item a.is-active {
    border-bottom: none;
  }

  /* ---------- Primary Menu Toggle ----------- */
  /* Hide the toggle by default. */
  .menu-toggle,
  .menu-toggle-target {
    display: none;
  }
  /* Unhide it for the primary menu. */
  .region-primary-menu .menu-toggle-target {
    display: inherit;
    position: fixed;
    top: 0;
  }
  .region-primary-menu .menu-toggle {
    display: none;
    margin-top: 10px;
  }
  body:not(:target) .region-primary-menu .menu-toggle {
    color: #333;
    background: #ccc;
    background: rgba(255, 255, 255, 0.5);
    float: none;
    font-size: 0.929em;
    display: block;
    text-decoration: none;
    padding: 0.9em 10px 0.9em 10px;
    z-index: 1000;
  }
  body:not(:target) .region-primary-menu .menu-toggle:after {
    content:"";
    background: url(../../../core/misc/icons/ffffff/hamburger.svg) no-repeat;
    background-size: contain;
    width: 22px;
    height: 22px;
    display: inline-block;
    position: absolute;
    right: 10px; /* LTR */
  }
  [dir="rtl"] body:not(:target) .region-primary-menu .menu-toggle:after {
    right: initial;
    left: 10px;
  }
  body:not(:target) .region-primary-menu .menu-toggle-target-show:target ~ .menu-toggle,
  body:not(:target) .region-primary-menu .menu-toggle--hide {
    display: none;
  }
  body:not(:target) .region-primary-menu .menu-toggle-target-show:target ~ .menu-toggle--hide {
    display: block;
  }

  body:not(:target) .region-primary-menu .menu-item {
    height: 0;
    overflow: hidden;
  }
  body:not(:target) .region-primary-menu .menu-toggle-target-show:target ~ .menu .menu-item {
    height: auto;
    overflow: visible;
  }
}
